
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Contact{% endblock  %}


{% block content %}
    <img src="static\images\code.png" alt="pytho-n"  style="background:red;">
    <img src="static\images\python.png" alt="pytho-n" class="python" style="background:transpatent;">
    <h3 class="prote">Python Programming</h3>
    <img src="static/images/tet.png" alt="tet" class="tet">
    <img src="static/images/main.png" alt="tet" class="main">
    <img src="static/images/excel.jpg" alt="tet" class="excel">
    <img src="static/images/pygame.png" alt="tet" class="pygame">
{% endblock %}
